body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
}

.styled-button {
    background-color: #ff5733; /* Orange */
}

.styled-button:hover {
    background-color: #c44521; /* Darker orange */
}
